<!DOCTYPE html>
#@pc_layout()
#define title()
<title>11111</title>
#end
#define css()
#end
#define js()
#end
#define main()
<button id="judge">aaaa</button>
<script type="text/javascript">
    $("#judge").click(function () {
        $.ajax({
            type: "GET",
            cache: false,
            async: false,
            dataType: "json",
            url: '/api/index',
            success: function (res) {
                console.log(res)
            }
        })
    })
</script>
#end


