<!--    导航栏-->

<div class="layui-header">
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                <i class="layui-icon layui-icon-shrink-right" id="layout-admin-shrinkage"></i>
            </a>
        </li>

        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <a href="/" target="_blank" title="前台">
                <i class="layui-icon layui-icon-website"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect="">
            <a href="admin/index" layadmin-event="refresh" title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
        <span class="layui-nav-bar" style="left: 38px; top: 48px; width: 0px; opacity: 0;"></span>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item layui-hide-xs" lay-unselect="">
            <a href="javascript:;" layadmin-event="fullscreen" title="全屏">
                <i class="layui-icon layui-icon-screen-full"></i>
            </a>
        </li>
        <li class="layui-nav-item">
            <a href="/admin/sysUser/edit?userId=1">
                <img src="#(com.wx.no_five_row_six.common.security.AdminUserUtil::getUserHead())" class="layui-nav-img">#(com.wx.no_five_row_six.common.security.AdminUserUtil::getShowName())
            </a>
        </li>
        <li class="layui-nav-item"><a href="admin/logout">退出</a></li>
        <span class="layui-nav-bar" style="left: 0px; top: 48px; width: 0px; opacity: 0;"></span>
    </ul>
</div>
<!--侧边栏-->
<div class="layui-layout-admin layui-logo" lay-href="http://localhost:8080" id="adminTitle"><span>五排六号</span></div>
<div class="layui-side layui-side-menu layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item">
                <dd id="nav_dance">
                    <a href="admin/zyx/dance/list">
                        <i class="iconfont layui-iconfont-dance"></i>
                        <span>舞蹈</span>
                    </a>
                </dd>
            </li>
            <li class="layui-nav-item">
                <dd id="nav_album">
                    <a href="/admin/zyx/album/list">
                        <i class="iconfont layui-iconfont-album"></i>
                        <span>专辑</span>
                    </a>
                </dd>
            </li>
            <li class="layui-nav-item">
                <dd  id="nav_concert">
                    <a href="admin/zyx/concert/list">
                        <i class="iconfont layui-iconfont-concert"></i>
                        <span>演唱会</span>
                    </a>
                </dd>
            </li>
            <li class="layui-nav-item" id="nav_endorsement">
                <a href="javascript:;">
                    <i class="iconfont layui-iconfont-endorsement"></i>
                    <span>代言</span>
                </a>
                <dl class="layui-nav-child">
                    <dd id="nav_endorsement_food"><a href="admin/zyx/endorsement/list?tagId=0"><span>食物</span></a></dd>
                    <dd id="nav_endorsement_makeup"><a href="admin/zyx/endorsement/list?tagId=1"><span>美妆</span></a></dd>
                    <dd id="nav_endorsement_clothes"><a href="admin/zyx/endorsement/list?tagId=2"><span>服装</span></a></dd>
                    <dd id="nav_endorsement_luxury"><a href="admin/zyx/endorsement/list?tagId=3"><span>轻奢品</span></a></dd>
                    <dd id="nav_endorsement_game"><a href="admin/zyx/endorsement/list?tagId=4"><span>游戏</span></a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="nav_film">
                <a href="javascript:;">
                    <i class="iconfont layui-iconfont-film"></i>
                    <span>影视作品</span>
                </a>
                <dl class="layui-nav-child">
                    <dd id="nav_film_variety"><a href="admin/adminUser/list"><span>综艺</span></a></dd>
                    <dd id="nav_film_movie"><a href="/admin/zyx/film/list?tagId=1"><span>电影</span></a></dd>
                    <dd id="nav_film_tv"><a href="admin/adminUser/list"><span>电视剧</span></a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="nav_data">
                <a href="javascript:;">
                    <i class="iconfont layui-iconfont-data"></i>
                    <span>数据</span>
                </a>
                <dl class="layui-nav-child">
                    <dl class="layui-nav-child">
                        <dd id="nav_down"><a href="admin/adminUser/list"><span>综艺</span></a></dd>
                    </dl>
                </dl>
            </li>
        </ul>
    </div>
</div>

#set(navId = navId??"")
#set(subNavId = subNavId??"")
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element, $ = layui.jquery;
    });

    //设置选中状态
    var navId = "#(navId)";
    var subNavId = "#(subNavId)";
    //选中状态
    if (navId) {
        $("#" + navId).addClass("layui-nav-itemed");
        $("#" + navId).parent().siblings().children().removeClass("layui-nav-itemed");
    }
    if (subNavId) {
        $("#" + subNavId).addClass("layui-this");
    }
    //    收缩侧边栏
    var bl = $("#layout-admin-shrinkage").hasClass("layui-icon-shrink-right");
    if (bl) {
        $("#layout-admin-shrinkage").click();
    }
    var shrinkage = true;  //定义一个标志位
    $('#layout-admin-shrinkage').click(function () {
        //选择出所有的span，并判断是不是hidden
        $('.layui-nav-item span').each(function () {
            if ($(this).is(':hidden')) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
        //状态判断
        if (shrinkage) {
            $('.layui-side.layui-bg-black').width(60);
            $('.layui-layout-admin .layui-logo').width(60);
            $('.layui-layout-left').css('left', 60 + 'px');
            $('.layui-body').css('left', 60 + 'px');
            $('#layout-admin-shrinkage').removeClass("layui-icon-shrink-right");
            $('#layout-admin-shrinkage').addClass("layui-icon-spread-left");
            document.getElementById("adminTitle").innerHTML = "<img src='images/frs.png' style='width:50px;height:50px;'>";
            shrinkage = false;
        } else {
            $('.layui-side.layui-bg-black').width(200);
            $('.layui-layout-admin .layui-logo').width(200);
            $('.layui-layout-left').css('left', 200 + 'px');
            $('.layui-body').css('left', 200 + 'px');
            $('#layout-admin-shrinkage').removeClass("layui-icon-spread-left");
            $('#layout-admin-shrinkage').addClass("layui-icon-shrink-right");
            document.getElementById("adminTitle").innerHTML = "五排六号";

            shrinkage = true;
        }
    });
    // 全屏
    $(document).on('click', "[layadmin-event='fullscreen']", function () {
        var doc = document.documentElement;
        if ($(document.body).hasClass("full-screen")) {
            $(document.body).removeClass("full-screen");
            document.exitFullscreen ? document.exitFullscreen() : document.mozCancelFullScreen ? document.mozCancelFullScreen() : document.webkitExitFullscreen && document.webkitExitFullscreen();
        } else {
            $(document.body).addClass("full-screen");
            doc.requestFullscreen ? doc.requestFullscreen() : doc.mozRequestFullScreen ? doc.mozRequestFullScreen() : doc.webkitRequestFullscreen ? doc.webkitRequestFullscreen() : doc.msRequestFullscreen && doc.msRequestFullscreen();
        }
    })

</script>
