<!DOCTYPE html>
#@layout_admin()

#define title()
<title>第五排第六号</title>
#end
#define css()

<style type="text/css">
    .web-font-desc {
        font-size: 24px;
        font-style: normal;
        padding-left: 35%;
        padding-top: 25%;
        -webkit-font-smoothing: antialiased;
    }
</style>
<link rel="stylesheet" href="libs/layui/css/modules/iconfont/iconfont.css"/>
#end
#define main()
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    #include("header.html")
    <div class="layui-body" style="bottom: 0px">
        <p class="web-font-desc">五排六号平台欢迎您</p>
    </div>
</div>
</body>
#end
