<!DOCTYPE html>
#@admin_layout()

#define title()
<title>后台-五排六号</title>
#end

#define main()
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href=""><b>五排六号</b></a>
    </div>
    <div class="login-box-body">
        <form action="admin/login" method="post">
            <div class="form-group has-feedback">
                <input name="name" type="txt" class="form-control" placeholder="用户名" required autofocus>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="password" type="password" class="form-control" placeholder="密码" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" style="margin-left:140%;">登录</button>
                </div>
            </div>
        </form>
        <div id="errMsg">
            <lable style="color:red;">#(errMsg??)</lable>
        </div>
    </div>
</div>
</body>
#end