<input type="hidden" id="id" name="id" value="#(user.id??)">

<div class="box-body">
    <div class="form-group">
        <label for="loginName" class="col-sm-3 control-label">用户名</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="loginName" name="loginName" value="#(user.loginName??)"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">密码</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="password" name="password" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPwdId" class="col-sm-3 control-label">确认密码</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="confirmPwdId" value=""/>
        </div>
    </div>

    <div class="box-footer">
        <div class="col-xs-push-2 col-xs-2">
            <a class="btn btn-default" href="admin/adminUser/list" role="button">取消</a>
        </div>
        <div class="col-xs-push-4 col-xs-2">
            <button type="button" id="saveBtn" class="btn btn-info pull-right" style="margin-right:35%;">保存</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        /**特殊的验证框*/
        var validations = [
            {name: 'loginName', valid: "validate[required] text-input"}
        ]
        if ($("#id").val() != undefined && $("#id").val() != "") {
            //更新用户
            validations.push({name: 'password', valid: "validate[minSize[6], maxSize[16]] text-input"});
            validations.push({name: 'confirmPwdId', valid: "validate[equals[password]] text-input"});
        } else {
            //新增用户
            validations.push({name: 'password', valid: "validate[required,minSize[6], maxSize[16]] text-input"});
            validations.push({name: 'confirmPwdId', valid: "validate[required,equals[password]] text-input"});
        }
        //添加验证
        for (var i = 0, len = validations.length; i < len; i++) {
            $("#" + validations[i].name).addClass(validations[i].valid);
        }
        $("#userForm").validationEngine('attach', {promptPosition: "topLeft", scroll: true});

        //保存
        $("#saveBtn").bind("click", function () {
            if (check4Pwd()) {
                $("#userForm").submit();
            }
        });
    });

    //检查确认密码是否和密码一致
    function check4Pwd() {
        if ($("#id").val() != undefined) {
            if ($("#password").val()) {
                if ($("#password").val() != $("#confirmPwdId").val()) {
                    jQuery("#confirmPwdId").validationEngine("showPrompt", "* 两次输入的内容不一致", 'red', 'topRight', true);
                    return false;
                }
            }
        }
        return true;
    }
</script>