*{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height:100%;
    color:#373737;
    background-color: #fff;
    margin:0 auto;
    position:relative;
    font:12px "Microsoft Yahei",Arial
}
html,body{
    height: 100%;
}
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight:normal;
    font-size:12px;
}
img{
    display:block;
    border:none;
    vertical-align: bottom;
}
input{
    outline:none;
    border:none 0;
}
a{
    text-decoration: none;
}
a:hover{
    /*color:#ff0700;*/
    text-decoration: none;
}
.clear:after{
    clear:both;
    content:'';
    display:block;
    zoom: 1;
}
.clearfix{
    clear:both;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.overflow-normal{
    overflow: hidden ;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*多行省略*/
.overflow-two{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.overflow-three{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*外边距溢出*/
.overflow:before{
	content:'';
	display: table;
}
button{
    border:none;
    outline:none;
    cursor: pointer;
}