<div class="popMask" style="display: none">
    <div class="declareBox">
        <div class="overflowY">
            <div class="declareTitle">免责声明</div>
            <div class="declareTxt">
                <p class="txt_indent2">
                    请在进入本专区前仔细阅读以下用户使用协议（以下简称“协议”）的条款（以下简称“条款”或“本条款”）。如果您进入本专区，表示您同意受本协议条款的约束。如果您不同意本条款，您将不能访问或使用本专区。
                </p>
                <p class="txt_indent2">
                    服务说明：本专区覆盖了专门针对医疗卫生专业人员的多项服务及信息，内容涉及研究、新闻文章、幻灯片、工具、其他教育性材料以及其他资源。本专区所载信息只为在中华人民共和国（不包括香港特别行政区、澳门特别行政区及台湾地区）正式取得执业资格的医疗卫生专业人员所提供。本专区所载信息绝无意代替您自己的医学判断并且本专区刊载的评论和其他内容亦无意作为可以信赖的建议。因此，我们郑重声明因任何本专区访问者或任何获知本专区内容者基于对本专区材料的信赖所引起的任何责任与义务都与本专区无关。作为一位医疗卫生专业人士，您应该通过您自己的专业判断来评估本专区所提供的所有信息。我们也建议在作出任何评价或治疗决定前请咨询其他专业人士并查阅其他参考资料。
                </p>
                <p class="txt_indent2">
                    产品信息声明：本专区提供的产品信息仅针对中国居民，这里涉及的产品在不同国家可能有不同的产品标签。虽然本专区的信息有可能被中国以外的人士访问，但有关勃林格殷格翰公司产品的信息是专供中国居民使用的。
                </p>
                <p class="txt_indent2">
                    医疗保健免责声明：本专区中所包含的任何与医疗保健有关的建议或信息均仅为教育用途，不能用以代替向医疗保健机构的咨询。
                </p>
                <p class="txt_indent2">
                    使用：除非就特定内容另有说明，您不可以从本专区任何一个页面打印副本，或下载摘要。您不得将本专区材料中任何内容用于商业目的。如果您违反本协议条款，打印、复制或者下载专区任何部分，您使用本专区的权利将立即终止并且如我方选择，您必须返还或销毁您所制作的材料的任何副本。
                </p>
                <p class="txt_indent2">
                    版权： 本专区的所有内容均受到版权法保护。
                </p>
                <p class="txt_indent2">
                    商标：本专区所展示的商标、标识和服务商标（合称“商标”）为勃林格殷格翰或其关联公司拥有或被许可使用的注册商标和未注册商标。本专区所包含的任何内容，在没有勃林格殷格翰或其关联公司明确书面准许的情况下，均不应被解释为以默示、禁止反悔或其他方式授予与商标相关的任何许可或权利。严禁在本条款规定的范围之外滥用本专区及其内容中的商标。勃林格殷格翰将在法律的最大范围内积极寻求对本专区及其内容的知识产权的保护，包括追究刑事责任。
                </p>
                <p class="txt_indent2">
                    陈述：作为本专区的使用者，您保证向我们提供的个人信息（包括但不限于您的医生/护士执业注册信息及执业证书号码）
                </p>
            </div>
        </div>
        <div class="popBottom">
            <button class="popBtn" onclick="closePop(this)">我知道了</button>
        </div>
    </div>
</div>
<script src="lib/jquery.cookie.js"></script>
<script>
    if ($.cookie('LOGIN_COOKIE') ==  null) {
        $(".popMask").show()
    }
    function closePop(ele) {
        $.ajax({
            url: "/setcookie",
            type: "post",
            cache: false,
            dataType: "json",
            success: function (json) {
                if (json.success) {
                    $(".popMask").hide();
                    $(".indexBox").css('position','static');
                }
            }
        })
    }
</script>

