<div class="indexTop">
    <div class="comm clear">
        <img src="res/pc/images/logo.png" alt="" class="lf logoImg">
        <div class="indexTopTab-box lf">
            <ul class="indexTop-tabList">
                <li id="index" class="indexTop-tab " onclick="location='/'">首页<i class="tabBar"></i></li>
                <li id="album1" class="indexTop-tab" onclick="location='/album/list'">歌曲<i class="tabBar"></i></li>
                <li id="album11" class="indexTop-tab" onclick="location='/album/list'">歌曲<i class="tabBar"></i></li>
                <li id="album111" class="indexTop-tab" onclick="location='/album/list'">歌曲<i class="tabBar"></i></li>
                <li id="album1121" class="indexTop-tab" onclick="location='/album/list'">歌曲<i class="tabBar"></i></li>
                <li id="album1111" class="indexTop-tab" onclick="location='/album/list'">歌曲<i class="tabBar"></i></li>
            </ul>
        </div>
    </div>
    <script>
        #set(navId = navId??"")
        var navId = "#(navId)";
        if (navId) {
            $("#" + navId).addClass("tabClick");
        }
    </script>
</div>