<div class="indexTop">
    <div class="comm clear">
        <img src="res/pc/images/logo.png" alt="" class="lf logoImg">
        <div class="indexTopTab-box lf">
            <ul class="indexTop-tabList">
                <li id="index" class="indexTop-tab " onclick="window.location.href='/'">首页<i class="tabBar"></i></li>
                <li id="album1" class="indexTop-tab" onclick="window.location.href='/api/album/list'">歌曲<i class="tabBar"></i></li>
                <li id="album11" class="indexTop-tab" onclick="window.location.href='/api/concert/list'">演唱会<i class="tabBar"></i></li>
                <li id="album111" class="indexTop-tab" onclick="window.location.href='/api/endorsement/list?type=0'">代言<i class="tabBar"></i></li>
                <li id="album1121" class="indexTop-tab" onclick="window.location.href='/api/molivideo/index'">影视作品<i class="tabBar"></i></li>
                <li id="album1111" class="indexTop-tab" onclick="window.location.href='/album/list'">歌曲<i class="tabBar"></i></li>
            </ul>
        </div>
    </div>
    <script>
        #set(navId = navId??"")
        var navId = "#(navId)";
        if (navId) {
            $("#" + navId).addClass("tabClick");
        }
    </script>
</div>