<!DOCTYPE html>
#@pc_layout()
#define title()
<title>登录</title>
#end
#define css()
#end
#define js()
#end
#define main()
<div class="main-w3layouts wrapper">
    <h1>五排六号登录</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="/api/user/login" method="post">
                <input class="text" style="margin: 3em 0 0;" type="text" name="name" placeholder="用户名"
                       required="">
                <input class="text" style="margin: 3em 0 0;" type="password" name="password" placeholder="密码"
                       required="">
                <div class="wthree-text">
                    <ul>
                        <li>
                            <label class="anim">
                                <input type="checkbox" class="checkbox" required="">
                                <span>登录须知</span>
                            </label>
                        </li>
                        <li><a href="/api/user/forgetPasswordInit">忘记密码 ?</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <input type="submit" value="登录">
            </form>
            <p>创建一个账号? <a href="/api/user/registerInit"> 立即注册!</a></p>
        </div>
    </div>
    <!-- copyright -->
    <div class="w3copyright-agile">
        <p>© 2017 Magical Login Form . All rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>
        </p>
    </div>
    <!-- //copyright -->
    <ul class="w3lsg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
#end
