<!DOCTYPE html>
#@pc_layout()
#define title()
<title>注册</title>
#end
#define css()
#end
#define js()
#end
#define main()
<div class="main-w3layouts wrapper">
    <h1>五排六号注册</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="/api/user/register" method="post">
                <input class="text" type="text" name="fuName" placeholder="姓名" required="">
                <input class="text" type="text" name="fuPassword" placeholder="密码" required="">
                <input class="text" type="text" name="fuProvince" placeholder="省份" required="">
                <input class="text" type="text" name="fuCity" placeholder="城市" required="">
                <input class="text" type="text" name="fuRegion" placeholder="区县" required="">
                <input class="text" type="text" name="fuPhone" id="fuPhone" placeholder="电话" required="">
                <input class="text" type="text" style="display: inline-block;width: 60%" name="scCode"
                       placeholder="请输入6位验证码"
                       required="" id="scCode">
                <button type="button" id="getCode">获取验证码</button>
                <input type="submit" value="REGISTER" id="registerBtn" onclick="doRegister()">
                <p>已有账号? <a href="/api/user/LoginInit"> 立即登录!</a></p>
            </form>
        </div>
    </div>
    <!-- copyright -->
    <div class="w3copyright-agile">
        <p>© 2017 Magical Login Form . All rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>
        </p>
    </div>
    <!-- //copyright -->
    <ul class="w3lsg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script type="text/javascript">
    //观察手机号输入框数字变化
    $("#fuPhone").on("input", function (e) {
        $('#getCode').attr('disabled', "true");
        if ((/^1[3456789]\d{9}$/.test(e.delegateTarget.value))) {
            $('#getCode').removeAttr("disabled");
        }
        $("#registerBtn").css('color', '#555555')
        $('#registerBtn').attr('disabled', "true");
    });
    $("#getCode").click(function () {
        $.ajax({
            url: "api/common/sendCode",
            type: "post",
            cache: false,
            global: false,
            dataType: "json",
            data: {
                mobile: $("#fuPhone").val(),
                type: "mobile_modify"
            },
            success: function (json) {
                if (json.success) {
                    alert("验证码发送成功")
                    $("#getCode").attr("disabled", "disabled");
                    var time = 60;
                    var set = setInterval(function () {
                        $("#getCode").html(--time + " s");
                    }, 1000);

                    setTimeout(function () {
                        $("#getCode").attr("disabled", false).html("重新获取");
                        clearInterval(set);
                    }, 60000);
                } else {
                    alert(json.msg)
                }
            }
        })
    });
    $("#scCode").on("input", function (e) {
        console.log()
        if (e.delegateTarget.value.length == 6) {
            $.ajax({
                url: "api/common/checkCode",
                type: "post",
                cache: false,
                global: false,
                dataType: "json",
                data: {
                    code: e.delegateTarget.value,
                },
                success: function (json) {
                    if (json.success) {
                        $('#registerBtn').removeAttr("disabled");
                    } else {
                        alert(json.msg)
                    }
                }
            })
        }
    });

</script>
#end
