.switch{
    width: 41px;
    height: 25px;
    background: #008d4c;
    -webkit-border-radius: 12.5px;
    -moz-border-radius: 12.5px;
    border-radius: 12.5px;
    float: left;
    position: relative;
    padding: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 38%;
    margin-top: 15%;
}
.switch-active{
    background: #fff;
    border:1px solid #eee;
}
.switch-btn{
    width: 22.5px;
    height: 22.5px;
    background: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    top:50%;
    left:17px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
}
.switch-animate{
    left: 1px;
}