<!DOCTYPE html>
#@admin_layout()

#define title()
<title>五排六号-演唱会>添加</title>
#end
#define js()
<script type="text/javascript" src="lib/uploadPic.js"></script>
#end
#define main()
<div class="wrapper">
    #include("../header.html", navId="nav_concert", subNavId="")
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                新增演唱会
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin/concert/list"><i class="fa fa-music"></i>演唱会列表</a></li>
                <li class="active">新增演唱会</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">演唱会内容</h3>
                        </div>
                        <form class="form-horizontal" role="form" id="searchForm" name="searchForm"
                              action="/admin/concert/saveOrUpdate"
                              method="post"  onsubmit="return beforeSubmit();">
                            #include("form.html")
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
#end

