<!DOCTYPE html>
#@admin_layout()

#define title()
<title>五排六号-代言>食品编辑</title>
#end
#define js()
<script type="text/javascript" src="lib/uploadPic.js"></script>
#end
#define main()
<div class="wrapper">
    #include("../header.html", navId="nav_endorsement",subNavId="")
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                编辑#(typeName)
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin/endorsement/list?type=#(type)"><i class="fa fa-cutlery"></i>食品列表</a></li>
                <li class="active">编辑#(typeName)</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">#(typeName)内容</h3>
                        </div>
                        <form class="form-horizontal" role="form" id="endorsementForm" name="endorsementForm" method="post" action="/admin/endorsement/saveOrUpdate">
                            #include("form.html")
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
#end

