<!DOCTYPE html>
#@admin_layout()

#define title()
<title>五排六号-专辑>编辑</title>
#end
#define js()
<script type="text/javascript" src="lib/uploadPic.js"></script>
#end
#define main()
    <div class="wrapper">
        #include("../header.html", navId="nav_album", subNavId="nav_song")
        <div class="content-wrapper">
        <section class="content-header">
            <h1>
                编辑专辑
            </h1>
            <ol class="breadcrumb">
                <li><a href="admin/album/list"><i class="fa fa-music"></i>专辑列表</a></li>
                <li class="active">编辑专辑</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">专辑内容</h3>
                        </div>
                        <form class="form-horizontal" role="form" id="albumForm" name="albumForm" method="post" action="/admin/album/saveOrUpdate">
                            #include("form.html")
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
#end

