<input type="hidden" name="faId" id="faId" value="#(album.faId??)"/>
<div class="box-body">

    <div class="form-group">
        <label for="faSort" class="col-sm-3 control-label">置顶排序值</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" id="faSort" name="faSort" value="#(album.faSort??)"/>
            <p style="color:red;">由大到小排序</p>
        </div>
        <div class="col-sm-1">
            <p id="faSortp" style="color:red;"></p>
        </div>
    </div>


    <div class="form-group">
        <label for="faName" class="col-sm-3 control-label"><span style="color:red;">*</span>专辑名称</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="faName" name="faName" value="#(album.faName??)"/>
        </div>
        <div class="col-sm-2">
            <p id="faNamep" style="color:red;"></p>
        </div>
    </div>


    <input type="hidden" id="type" value="#(com.wx.no_five_row_six.common.Const::PIC_ALBUM_TYPE)"/>
    <div class="form-group">
        <label for="wpeThumbnailPath" class="col-sm-3 control-label"><span style="color:red;">*</span>封面
            <!--<p style="color:red;">图片尺寸: </p>-->
        </label>
        <div class="col-sm-5">
            <img id="picShow" src="#(album.faImg??)" alt="" style="width:100px;"/>
            <input type="hidden" id="wpeThumbnailPath" name="faImg" value="#(album.faImg??)"/>
            <button id="uploadBtn" type="button" class="btn btn-default">上传图片</button>
        </div>
        <div class="col-sm-2">
            <p id="faImgp" style="color:red;"></p>
        </div>
    </div>

    <div class="form-group">
        <label for="faTimeStr" class="col-sm-3 control-label"><span style="color:red;">*</span>发布时间</label>
        <div class="col-sm-5">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control searchDate" id="faTimeStr" name="faTimeStr" value="#(longToString(album.faTime??,'yyyy-MM-dd'))"/>
            </div>
        </div>
        <div class="col-sm-2">
            <p id="faTimeStrp" style="color:red;"></p>
        </div>
    </div>

        <div class="form-group">
            <label for="faContent" class="col-sm-3 control-label">专辑创作背景</label>
            <div class="col-sm-5">
                <input type="hidden" id="faContent" name="content" value="#(album.faContent??)"/>
                <!-- 加载编辑器的容器 -->
                <sccipt id="container" name="faContent" type="text/plain"></sccipt>
            </div>
        </div>

    </div>
    <div class="box-footer">
        <div class="col-xs-push-2 col-xs-2">
            <a class="btn btn-default" href="/admin/album/list" role="button">取消</a>
        </div>
        <div class="col-xs-push-4 col-xs-2">
            <button type="submit" class="btn btn-info pull-right" id="saveBtn">保存</button>
        </div>
    </div>
    #include("../uploadPic.html")

    <script type="text/javascript">
        var ue;
        $(document).ready(function () {
            // 实例化编辑器
            ue = UE.getEditor('container', {
                // topOffset: 50,//浮动时工具栏距离浏览器顶部的高度，用于某些具有固定头部的页面
                initialFrameHeight: 400
            });
            ue.ready(function () {
                if ($("#faId").val() != null && $("#faId").val() != "") {
                    ue.setContent($("#faContent").val());
                }
            });
        })

        // function checkGaSort() {
        //     if ($("#gaSort").val() != undefined && $("#gaSort").val() != "") {
        //         $("#gaSortp").text("");
        //         return true;
        //     } else {
        //         $("#gaSortp").text("请输入排序值");
        //         return false;
        //     }
        // }

        function checkFaTitle() {
            if ($("#faName").val() != undefined && $("#faName").val() != "") {
                $("#faNamep").text("");
                return true;
            } else {
                $("#faNamep").text("请输入专辑名称");
                return false;
            }
        }

        function checkFaImg() {
            if ($("#wpeThumbnailPath").val() != undefined && $("#wpeThumbnailPath").val() != "") {
                $("#faImgp").text("");
                return true;
            } else {
                $("#faImgp").text("请上传专辑封面");
                return false;
            }
        }

        function checkFaTimeStr() {
            if ($("#faTimeStr").val() != undefined && $("#faTimeStr").val() != "") {
                $("#faTimeStrp").text("");
                return true;
            } else {
                $("#faTimeStrp").text("请输入发布时间");
                return false;
            }
        }

        function beforeSubmit() {
            if (checkFaTitle && checkFaImg() && checkFaTimeStr()) {
                return true;
            } else {
                return false;
            }
        }


    </script>