<!DOCTYPE html>
#@pc_layout()
#define title()
<title>专辑信息</title>
#end
#define css()
<style>

</style>
#end
#define js()
<script src="//player.polyv.net/script/player.js"></script>
#end
#define main()
<body>
<div class="indexBox">
    #include("../include/header.html",navId="album")
    <div class="scrollCon">
        <div class="comm">
            <div class="informationWrapper open">
                <div class="itemInf-name">
                    #(album.faName??)
                </div>
                <div class="itemInf-time">#(longToString(album.faTime??,"yyyy年MM月dd日"))</div>
                <div class="itemInf-txt">#(album.faContent??)</div>

                <div class="comm-subTitle">
                    歌曲列表
                </div>
                <table class="comm-width">
                    #if(songList != null && songList.size()>0)
                    <tr>
                        <th>操作</th>
                        <th>音乐标题</th>
                        <th>歌手</th>
                        <th>专辑</th>
                        <th>时长</th>
                    </tr>
                    <tr>
                        #for(song : songList)
                        <td>
                            <img src="res/pc/images/collectionInAction.png" class="inline-block img-small" alt="">
                            <img src="res/pc/images/downInActive.png" alt="" class="inline-block img-small">
                        </td>
                        <td>
                            #if(song.fsLink!=null && song.fsLink != "")
                            <a href="/api/album/songDetail?id=#(song.fsId)"> #(song.fsName??)</a>
                            #else
                            <a href="/api/album/songDetail?id=#(song.fsId)" class="noCopyright"> #(song.fsName??)</a>
                            #end

                            #if(song.fsVid != null && song.fsVid != "")
                            <img src="res/pc/images/mvPlay.png" alt="" class="inline-block img-small songMvIcon"
                                 onclick="playMv('#(song.fsVid)')"/>
                            #end
                        </td>
                        <td>#(song.fsSinger)</td>
                        <td>#(album.faName??)</td>
                        <td>#(song.fsLength)</td>
                    </tr>
                    #end
                    #else
                    暂无歌曲
                    #end
                </table>
            </div>
        </div>
        #include("../include/footer.html")
    </div>
    <div class="maskBox">
        <div class="mask-cover">
            <div class="mask-close close1"></div>
            <div id="player"></div>
        </div>
    </div>
</div>
<script>
    function playMv(t) {
        // alert(t)
        var player = polyvPlayer({
            wrap:'#player',
            width: '450px',
            height: "300px",
            autoplay: true,
            vid: t
        });
        $("#player").show();
        $(".maskBox").show();
    }

    // $(".songMvIcon").on("click", function () {});
    $(".mask-close").off().on("click", function () {
        //页面刷新,解决保利威视不能关闭视频的问题
        window.location.reload();
        $("#player").hide();
        $(".maskBox").hide();
    });

</script>

</body>
#end


