<!DOCTYPE html>
#@pc_layout()
#define title()
<title>影视作品</title>
#end
#define css()
<style>
    .boxMargin {
        margin: 0px 50px;
    }

    .MoreBtn {
        margin-left: 1000px;
        height: 30px;
        background-color: #e9defc;
        vertical-align: bottom;
        border-radius: 10px;
    }
</style>
#end
#define js()
#end
#define main()
<div class="indexBox">
    #include("../include/header.html")
    <div class="scrollCon">
        <div class="comm clear">
            <div class="informationTop">
                <div class="lf informationLf">
                    <div class="informationTitle">影视</div>
                </div>
                <div class="rt informationRt">
                    <input type="text" id="keyword" name="keyword" value="#(keyword??)" class="searchIpt"
                           placeholder="请输入搜索词">
                    <i class="searchIcon" onclick="search()"></i>
                </div>
            </div>
            <div class="informationWrapper flex">
                <div class="informationTitle" style="background-color: transparent;color: #0d0d0d">电影
                    <button type="button" class="MoreBtn"
                            onclick="javascrtpt:window.location.href='/api/molivideo/list?type=1'">更多=>
                    </button>
                </div>
                #if(movieList?? != null &&movieList.size() > 0)
                #for(movie:movieList)
                <a href="/api/molivideo/movieDetail?fmvId=#(movie.fmvId)" class="itemBgBox boxMargin">
                    <div class="item-img">
                        <img src="#(movie.fmvImg??)" alt="" class="albumImg" style="margin-left: 0">
                    </div>
                    <div class="item-dec marginLeft" style="margin-left: 20px">
                        <div class="itemInf-name">#(movie.fmvName??)</div>
                    </div>
                </a>
                #end
                #end
            </div>
            <div class="informationWrapper flex">

                <div class="informationTitle" style="background-color: transparent;color: #0d0d0d">电视剧
                    <button type="button" class="MoreBtn"
                            onclick="javascrtpt:window.location.href='/api/molivideo/list?type=2'">更多=>
                    </button>
                </div>
                #if(tvList?? != null &&tvList.size() > 0)
                #for(tv:tvList)
                <a href="/api/molivideo/tvDetail?fmvId=#(tv.fmvId)" class="itemBgBox boxMargin">
                    <div class="item-img">
                        <img src="#(tv.fmvImg??)" alt="" class="albumImg" style="margin-left: 0">
                    </div>
                    <div class="item-dec marginLeft" style="margin-left: 20px">
                        <div class="itemInf-name">#(tv.fmvName??)</div>
                    </div>
                </a>
                #end
                #end
            </div>
            <div class="informationWrapper flex">

                <div class="informationTitle" style="background-color: transparent;color: #0d0d0d">综艺
                    <button type="button" class="MoreBtn"
                            onclick="javascrtpt:window.location.href='/api/molivideo/list?type=3'">更多=>
                    </button>
                </div>
                #if(varietyList?? != null &&varietyList.size() > 0)
                #for(variety:varietyList)
                <a href="/api/molivideo/varietyDetail?fmvId=#(variety.fmvId)" class="itemBgBox boxMargin">
                    <div class="item-img">
                        <img src="#(variety.fmvImg??)" alt="" class="albumImg" style="margin-left: 0">
                    </div>
                    <div class="item-dec marginLeft" style="margin-left: 20px">
                        <div class="itemInf-name">#(variety.fmvName??)</div>
                    </div>
                </a>
                #end
                #end
            </div>
        </div>
    </div>
    #include("../include/footer.html")
</div>
</div>
<script>

    $(document).ready(function () {
        //点击回车
        $("#keyword").keydown(function (e) {
            if (e.keyCode == 13) {
                search()
            }
        });
    })

    function search() {
        window.location.href = "/api/molivideo/list?type=1&keyword=" + $("#keyword").val();
    }
</script>
#end