<!DOCTYPE html>
#@pc_layout()
#define title()
<title>影视作品-#(TypeName??)</title>
#end
#define css()
#end
#define js()
#end
#define main()
<div class="indexBox">
    #include("../include/header.html")
    <div class="scrollCon">
        <div class="comm clear">
            <div class="informationTop">
                <div class="lf informationLf">
                    <div class="informationTitle">#(TypeName??)</div>
                </div>
                <div class="rt informationRt">
                    <input type="text" id="keyword" name="keyword" value="#(keyword??)" class="searchIpt"
                           placeholder="请输入搜索词">
                    <i class="searchIcon" onclick="search()"></i>
                </div>
            </div>
            <div class="informationWrapper flex">
                <input type="hidden" id="type" name="type" value="#(type??)">
                #if(list?? != null && list.size() > 0)
                #for(item:list)
                <a href="/api/molivideo/#(url)Detail?fmvId=#(item.fmvId)" class="itemBgBox">
                    <div class="item-img">
                        <img src="#(item.fmvImg??)" alt="" class="albumImg" style="margin-left: 0">
                        <img src="res/pc/images/stick.png" alt="" class="stickImg" style="left: 0">
                    </div>
                    <div class="item-dec marginLeft" style="margin-left: 20px">
                        <div class="itemInf-name">#(item.fmvName??)</div>
                        <div class="itemInf-time">#(item.fmvDirector??)</div>
                    </div>
                </a>
                #end
                #end
            </div>
        </div>
    </div>
    #include("../include/footer.html")
</div>
</div>
<script>

    $(document).ready(function () {
        //点击回车
        $("#keyword").keydown(function (e) {
            if (e.keyCode == 13) {
                search()
            }
        });
    })

    function search() {
        window.location.href = "api/molivideo/listMovie?keyword=" + $("#keyword").val();
    }
</script>
#end